<?xml version="1.0" encoding="utf-8"?><settings setting_check_size="1"
setting_sd_card="1" setting_hide_installed="0" setting_get_rating="1"
setting_music="0" setting_online="1" setting_rumble="1"
setting_update_icon="0" setting_tool_tip="1" setting_prompt_cancel="1"
setting_power_off="0" setting_last_boot="1287702124"
setting_show_updated="1" setting_use_sd="1" setting_repo="0"
setting_sort="1" setting_category="2" setting_disusb="0"
setting_dischar="0" setting_wiiside="0" setting_update="1" setting_server="0" />
